* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
	color: black;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 175%;
}

.row div {
	padding-left: 10px;
	float: left;
	width: 33.3%;
	border: 1px solid black;
	background-color: lightblue;
}
p {
	text-align: left;
	clear:right;
}
.head {
	font-size: 125%;
	border: 1px solid black;
	color: black;
	font-family: "Lucida Console", Courier, monospace;
}
.C {
	
	background-color:#A93226; 
	float: right;
}
.V {
	
	background-color:#27AE60; 
	float: right;
}
.S {
	
	background-color:#F1C40F ; 
	float:right;
}
@media (min-width:768px) and (max-width: 991px) {
	.row div {
		width: 50%;
	}
}


@media (max-width:767px) {
	.row div {
	
	width: 100%
}
}

